<div id="tracker_accessible_permission_select" style="display:none;">
  <p>
    <label for="role_tracker_accessible_permission"><%= l(:label_tracker_accessible_permissions) %></label>
    <%= select_tag 'role[tracker_accessible_permission]', options_for_select(Tracker.all.map { |t| [t.name, t.id] }, @role['tracker_accessible_permission']), :multiple => true, :style => "width: 150px; height: 150px;" %>
  </p>
</div>

<%= javascript_tag do %>
  $('#content form div.box.tabular:first p:last').ready(function() {
    $('#content form div.box.tabular:first').append($('#tracker_accessible_permission_select').html());
  })
<% end %>
