<p>
  <%= hidden_field_tag 'role[tracker_accessible_permission][]', nil %>
  <label for="role_tracker_accessible_permission"><%= l(:label_tracker_accessible_permissions) %></label>
  <%= select_tag 'role[tracker_accessible_permission]', options_for_select(Tracker.order(:position).all.map { |t| [t.name, t.id] }, @role['tracker_accessible_permission']), :multiple => true, :style => "width: 150px; height: 150px;" %>
</p>
